
.pageTitle
{
    width: auto;
}


.topcontainer
{
    width: auto;
    max-height: fit-content;
    background-color: green;
    color: grey;
}



.container
{
    width: auto;
    max-height: fit-content;
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-width: 50px;
    border-color: green;
    color: grey;
}